extends layout

block content
	h3 #{mobile.name}
	hr
	div.row		
		div.col-md-12
			div.col-md-4
				div.thumbnail
					img(src="#{mobile.image}", style="width:180px !important; height: 280px !important")
					div.caption
						h3 #{mobile.name.substring(0,20)}...
						p #{mobile.price.pop()}
						p #{mobile.vendor}	
						button#update.btn.btn-success Resync
	div.row
		ul.nav.nav-tabs
			li.active
				a(data-toggle="tab",href="#description") Description
			li
				a(data-toggle="tab",href="#specifications") Specifications
			li
				a(data-toggle="tab",href="#vendors") All Vendors
			li
				a#getStats(data-toggle="tab",href="#stats") Price Stats

		div.tab-content		
			div#stats.tab-pane.fade
				div#my_chart(style="width: 1000px; height: 1000px;")
			div#specifications.tab-pane.fade
				table.table
					tr
						th Feature
						th Value					
					- each variable,i in specs_data
						tr
							td #{variable[0]}
							td #{variable[1]}								
			div#vendors.tab-pane.fade			
				table.table.col-md-6
					tr
						th Vendor name
						th Price
						th Link					
					- each variable,i in other_vendors
						tr
							td #{variable[2]}
							td #{variable[1]}
							td 
								a(href="#{variable[0]}") click


			div#description.tab-pane.fade.in.active 
				!{ mobile.description }
				
block inPageScript	
	script(src="https://www.google.com/jsapi")
	script.
		google.load("visualization", "1", {packages:["corechart"]});
		   //google.setOnLoadCallback(drawChart);
		   function drawChart(input_data) {
		    // Create and populate the data table.
		    var data = google.visualization.arrayToDataTable(input_data);		      
			
		    var options = {
		      title: 'Time vs Price',
		      width: 1000,
		      height: 1000,
		      hAxis: {
					direction:-1,
					slantedText:true,
					slantedTextAngle:90 // here you can even use 180
				}
		    };
		     // Create and draw the visualization.
			var chart = new google.visualization.ColumnChart(
				document.getElementById('my_chart'));				
			chart.draw(data, options);
		  }

		$(document).ready(function(){
			$("#getStats").click(function(){
				//$("#stats").html('<svg id="visualisation" width="1000" height="500"></svg>');
				$.get("/mobiles/stats/#{id}", function(data){
					//data = eval("x = "+data);	
					//InitChart(data,"visualisation");
					drawChart(data);
				});
			});

			$("#update").click(function(){
				$.get("/mobiles/refresh/#{mobile._id}",function(data){
					alert(data);
				});
			});
		});
	